{% load static %}
<!doctype html>
<html lang="ja">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    
    <!-- Original CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <title>予約確認画面</title>
  </head>
  <body>
    <header>SAMPLE SHOP</header>

    <h1>予約確認画面</h1>

    <!-- resultに0以上の要素が格納されていたらアラートを表示する -->
    {% if 0 <= result %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div class="me-3">
      <i class="bi bi-exclamation-diamond confirm-icon"></i></svg>
      </div>  
    <div>
      {{ session_form_data.reserve_date | date:"n/j (l)" | cut:"曜日" }} {{ session_form_data.reserve_time }}
      は残り{{ result }}名様のみとなるのでご予約できません。申し訳ございませんが「他の日付」、もしくは「他の時間帯」にご予約願います。
      </div>
    </div>
    {% endif %}

    <table class="table">
      <tbody>
	<tr>
	  <th scope="row">日時</th>
	  <td>{{ session_form_data.reserve_date | date:"n/j (l)" | cut:"曜日" }} {{ session_form_data.reserve_time }}</td>
	</tr>
	<tr>
	  <th scope="row">人数</th>
	  <td>{{ session_form_data.reserve_num }} 名</td>
	</tr>
	<tr>
	  <th scope="row">氏名</th>
	  <td colspan="2">{{ session_form_data.name }}</td>
	</tr>
	<tr>
	  <th scope="row">メールアドレス</th>
	  <td colspan="2">{{ session_form_data.email }}</td>
	</tr>
	<tr>
	  <th scope="row">電話番号</th>
	  <td colspan="2">{{ session_form_data.tel }}</td>
	</tr>
	<tr>
	  <th scope="row">備考</th>
	  <td colspan="2">{{ session_form_data.comment | linebreaksbr }}</td>
	</tr>
      </tbody>
    </table>

    <form method="POST" action"{% url 'reserve:complete' %}">{% csrf_token %}
      <div class="d-grid gap-2 mx-3">
	<!-- resultに0以上の要素が格納されていたら予約確定ボタンを非表示にする -->
	{% if 0 <= result %}
	{% else %}
	<button class="btn btn-primary rounded-pill" type="submit">予約確定</button>
	{% endif %}
	<a class="btn btn-secondary rounded-pill" href="{% url 'reserve:index' %}">戻る</a>
      </div>
    </form>
	    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      -->
  </body>
</html>
